body{
    background-color: #F2FFFC;
    font-family: "Grimson Text", "Times New Roman", serif;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

blockquote, .barra-navegacao, footer{
    padding: 20px;
}

.titulo-principal{
    background-color: #851944;
    color: rgb(255,255,255); /*ou #FFF;*/
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
}

p{
    text-align: justify;
    margin: 20px 0;
}

.barra-navegacao{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

ul{
    list-style-type: none;/*remove marcação da lista (bullets)*/
}

nav a{
    color: #F2FFFC;
    text-transform: lowercase;
}

main a{
    color: #851944;
}

.barra-navegacao a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.barra-navegacao h1{
    font-size: 3Ks0px;
    margin-bottom: 25px;
}

main div{
    /* width: 720px; */
    padding: 30px 0; 
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

h2{
    font-size: 30px;    
}

.subtitulo-texto {
    clear: both;
}

.icones-sociais li{
    display: inline-block;
}

.icones-sociais a{
    width: 40px;
    height: 40px;
    display: block;
    color: transparent;/* text-indent: -99999px; */
}

.github{
    background-image: url(../img/github.png); 
}

.twitter{
    background-image: url(../img/twitter.png); 
}

.linkedin{
    background-image: url(../img/linkedin.png); 
}

h1{
    text-transform: uppercase;
}

.rodape-pagina{
    clear: both;
    background-color: #000;
    color: #F2FFFC;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

main{
    float: left;
    width: 80%;
    padding-bottom: 80px;
}

aside{
    box-sizing: border-box;
    /* clear: right; */
    position: relative;
    top: 300px;
    width: 15%;
}

.minha-foto, .barra-navegacao{
    float:right;
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

.minha-foto{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
}